a.CoE-logo {
  background-image: url(../Images/CoE_logo.png);
  margin:20px 0px 90px 0px;
  /*padding-left: 30px;
  padding-bottom: 50px;*/
  background-repeat: no-repeat;
  display: block;
  width: 90px;
  height: 90px;
  background-size: contain;
}

nav {
  background-color:#006EFF;
  width: 85px;
  height: 100vh;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
}

a.information-icon, a.bullhorn-icon, a.file-multiple-icon, a.email-icon, a.account-icon, a.bell-icon,
a.message-processing-icon, a.cog-icon, a.help-circle-icon {
  background-image: url(../Icons/information.svg);
  /*padding-left: 30px;
  padding-bottom: 10px;*/
  /*padding: 10px 10px 10px 30px; backgroundimage trekt zich niks aan van de padding*/
  margin:30px;
  background-repeat: no-repeat;
  display: block;
  width: 21px;
  height: 21px;
  fill:#ffffff;
  }

  a.bullhorn-icon {
    background-image: url(../Icons/bullhorn.svg);
  }

  a.file-multiple-icon {
    background-image: url(../Icons/file-multiple.svg);
  }

  a.email-icon {
    background-image: url(../Icons/email.svg);
  }

  a.account-icon {
    background-image: url(../Icons/account.svg);
  }

  a.bell-icon {
    background-image: url(../Icons/bell.svg);
  }

  a.message-processing-icon {
    background-image: url(../Icons/message-processing.svg);
  }

  a.cog-icon {
    background-image: url(../Icons/cog.svg);
  }

  a.help-circle-icon {
    background-image: url(../Icons/help-circle.svg);
  }

.fixed-position {
    position:fixed;
}

#menu-rule {
    border: 0.7px solid #5395FF;
    width: 60px;
    margin: auto;
}

#search-container {
    width: 100vw;
    height: 60px;
    background-color:#FFFFFF;
    margin: 0px 0px 0px 85px;
    position: fixed;
    top: 0;
}

#search-bar{
  -moz-appearance: none;
  -webkit-appearance: none;
  width:70%;
  height: 40px;
  border: none;
  margin: 10px 0px 10px 40px;
  font-size: 15px;
}

#search-icon{
  width: 25px;
  height: 25px;
  background-image: url(../Icons/magnify.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border: none;
}

#search-rule {
  border-left: 1.5px solid #F2F4F8;
  height: 60px;
  position: relative; /* (?? was absolute) */
  left: 85%;
  margin-left: -3px;
  top: 0;
}

/* bovenaan de algemene gegevens die zich herhalen samenvoegen in 1 CSS, de url source apart in een eigen CSS regel
