a.CoE-logo {
  background-image: url(../Images/CoE_logo.png);
  margin:20px 0px 90px 0px;
  /*padding-left: 30px;
  padding-bottom: 50px;*/
  background-repeat: no-repeat;
  display: block;
  width: 90px;
  height: 90px;
  background-size: contain;
}

nav {
  background-color:#006EFF;
  width: 85px;
  height: 100vh;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
}

a.information-icon, a.bullhorn-icon, a.file-multiple-icon, a.email-icon, a.account-icon, a.bell-icon,
a.message-processing-icon, a.cog-icon, a.help-circle-icon {
  background-image: url(../Icons/information.svg);
  /*padding-left: 30px;
  padding-bottom: 10px;*/
  /*padding: 10px 10px 10px 30px; backgroundimage trekt zich niks aan van de padding*/
  margin:30px;
  background-repeat: no-repeat;
  display: block;
  width: 21px;
  height: 21px;
  fill:#ffffff;
  }

  a.bullhorn-icon {
    background-image: url(../Icons/bullhorn.svg);
  }

  a.file-multiple-icon {
    background-image: url(../Icons/file-multiple.svg);
  }

  a.email-icon {
    background-image: url(../Icons/email.svg);
  }

  a.account-icon {
    background-image: url(../Icons/account.svg);
  }

  a.bell-icon {
    background-image: url(../Icons/bell.svg);
  }

  a.message-processing-icon {
    background-image: url(../Icons/message-processing.svg);
  }

  a.cog-icon {
    background-image: url(../Icons/cog.svg);
  }

  a.help-circle-icon {
    background-image: url(../Icons/help-circle.svg);
  }

.fixed-position {
    position:fixed;
}

#menu-rule {
    border: 0.7px solid #5395FF;
    width: 60px;
    margin: auto;
}

.topvak-container {
  margin-left: 85px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
}

#search-bar{
  -moz-appearance: none;
  -webkit-appearance: none;
  width:70%;
.zoek-vlak {
  width: 1100px;
  float: left;
}

.zoekbalk {
  font-size: 13px;
  padding: 0px 20px;
  border: none;
  height: 60px;
  float: left;
  width: 1030px;
}

.zoek-icoon {
  float: left;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("magnify.svg");
  margin-left: 15px;
}

.profiel-foto {
  float: left;
  margin: 0px 20px;
  display: inline-block;
}

.profiel-foto > img{
  height: 38px;
  width: 38px;
}

.profiel-naam {
  margin-top: 10px;
  float: left;
}

.profiel-vlak {
  border-left: solid 1px #f2f4f8;
  float: left;
  height: 40px;
  padding: 10px;
  padding-left: 100px;
}

.profiel-menu {
  float: left;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("Arrow-down.svg");
}


/* bovenaan de algemene gegevens die zich herhalen samenvoegen in 1 CSS, de url source apart in een eigen CSS regel
