a.CoE-logo {
  background-image: url(../Images/CoE_logo.png);
  margin:20px 0px 90px 0px;
  /*padding-left: 30px;
  padding-bottom: 50px;*/
  background-repeat: no-repeat;
  display: block;
  width: 90px;
  height: 90px;
  background-size: contain;
}

nav {
  background-color:#006EFF;
  width: 85px;
  height: 100vh;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  z-index: 99;
}

a.information-icon, a.bullhorn-icon, a.file-multiple-icon, a.email-icon, a.account-icon, a.bell-icon,
a.message-processing-icon, a.cog-icon, a.help-circle-icon {
  background-image: url(../Icons/information.svg);
  /*padding-left: 30px;
  padding-bottom: 10px;*/
  /*padding: 10px 10px 10px 30px; backgroundimage trekt zich niks aan van de padding*/
  margin:30px;
  background-repeat: no-repeat;
  display: block;
  width: 21px;
  height: 21px;
  fill:#ffffff;
  }

  a.bullhorn-icon {
    background-image: url(../Icons/bullhorn.svg);
  }

  a.file-multiple-icon {
    background-image: url(../Icons/file-multiple.svg);
  }

  a.email-icon {
    background-image: url(../Icons/email.svg);
  }

  a.account-icon {
    background-image: url(../Icons/account.svg);
  }

  a.bell-icon {
    background-image: url(../Icons/bell.svg);
  }

  a.message-processing-icon {
    background-image: url(../Icons/message-processing.svg);
  }

  a.cog-icon {
    background-image: url(../Icons/cog.svg);
  }

  a.help-circle-icon {
    background-image: url(../Icons/help-circle.svg);
  }


#menu-rule {
    border: 0.7px solid #5395FF;
    width: 60px;
    margin: auto;
}

.top-container {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  z-index: 0;
}

.search-container {
  width: 100vw;
  /* width: 1100px; (oude width)*/
  float: left;
  background-color: #FFFFFF;
}

.searchbar {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 13px;
  border: none;
  height: 60px;
  float: left;
  width: 60%;
  margin-left: 105px;
}

.search-icon {
  float: left;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../Icons/magnify.svg");
  margin-left: 60px;
}

.profile-img {
  float: left;
  margin: 0px 20px;
  display: inline-block;
}

.profile-img > img{
  height: 38px;
  width: 38px;
}

.profile-name{
  float: left;
  margin-top: 10px;
}

.profile-container{
  border-left: solid 1.5px #f2f4f8;
  float: right;
  height: 50px;
  vertical-align: middle;
  padding-left: 60px;
  padding-top: 10px;
  background-color: #FFFFFF;
  width: 20vw;
}

.profile-menu {
  float: right;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("Arrow-down.svg");
}

#publication-modalpanel{
  position: fixed;
  top: 80px;
  left: 50vw;
   width: 70vw;
   height: 83vh;
   background-color: white;
   transform: translate(-50%,0%);
   box-shadow: 0px 5px 10px  #AAAAAA;
   border-radius: 10px;
   overflow-y: scroll;
}

.hidden{
  display: none;
}
/* verbergt tijdelijk het modal panel */

input[type=text]{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-color: #CCCCCC;
  border-style: solid;
  margin: 5px 0px;
  padding-left: 10px;
}

textarea{
  width: 100%;
  height: 45vh;
  border-radius: 5px;
  border: solid 2px #CCCCCC;
  margin: 5px 0px;
  padding: 10px;
}

.input{
  text-align: left;
  padding: 0px;
  width: 100%;
  margin:10px;
}

.button-div{
  text-align: right;
  margin: 0px 20px 20px 0px;
}

.modalspacer{
  background-color: #FFFFFF;
  height: 100%;
  padding: 0;
}



/* bovenaan de algemene gegevens die zich herhalen samenvoegen in 1 CSS, de url source apart in een eigen CSS regel
