a.information-icon {
  background-image: url(../Icons/information.svg);
  padding-left: 30px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  display: block;
  }

  a.bullhorn-icon {
    background-image: url(../Icons/bullhorn.svg);
    padding-left: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
    }


  a.file-multiple-icon {
    background-image: url(../Icons/file-multiple.svg);
    padding-left: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
  }

  a.email-icon {
    background-image: url(../Icons/email.svg);
    padding-left: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
  }

  a.account-icon {
    background-image: url(../Icons/account.svg);
    padding-left: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
  }

  a.bell-icon {
    background-image: url(../Icons/bell.svg);
    padding-left: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
  }

  a.message-processing-icon {
    background-image: url(../Icons/message-processing.svg);
    padding-left: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
  }

  a.cog-icon {
    background-image: url(../Icons/cog.svg);
    padding-left: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
  }

  a.help-circle-icon {
    background-image: url(../Icons/help-circle.svg);
    padding-left: 30px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
  }



/* bovenaan de algemene gegevens die zich herhalen samenvoegen in 1 CSS, de url source apart in een eigen CSS regel
