a.information-icon, a.bullhorn-icon, a.file-multiple-icon, a.email-icon, a.account-icon, a.bell-icon,
a.message-processing-icon, a.cog-icon, a.help-circle-icon {
  background-image: url(../Icons/information.svg);
  padding-left: 30px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  display: block;
  width: 21px;
  height: 21px;
  }

  a.bullhorn-icon {
    background-image: url(../Icons/bullhorn.svg);
  }

  a.file-multiple-icon {
    background-image: url(../Icons/file-multiple.svg);
  }

  a.email-icon {
    background-image: url(../Icons/email.svg);
  }

  a.account-icon {
    background-image: url(../Icons/account.svg);
  }

  a.bell-icon {
    background-image: url(../Icons/bell.svg);
  }

  a.message-processing-icon {
    background-image: url(../Icons/message-processing.svg);
  }

  a.cog-icon {
    background-image: url(../Icons/cog.svg);
  }

  a.help-circle-icon {
    background-image: url(../Icons/help-circle.svg);
  }



/* bovenaan de algemene gegevens die zich herhalen samenvoegen in 1 CSS, de url source apart in een eigen CSS regel
