@import url("fonts.css");
@import url("header.css");

body {
  padding: 0px;
  margin: 0px;
  background-color: #F2F4F8;
  font-family: 'Mosk', sans-serif;
  color: #8698AA;
}

#main-page{
  margin: 110px 0px 0px 0px;
}

#page-header{
margin: 0px 1.5% 0px 1.5%;
}

.primary-button{
  -webkit-appearance: none;
  width: 190px;
  height: 38px;
  display: inline-block;
  border-radius: 10px;
  background-color: #006EFF;
  color: #FFFFFF;
  border: none;
  margin:10px;
  font-size: 14px;
  font-weight: 600;
}

.secondary-button{
  -webkit-appearance: none;
  width: 190px;
  height: 38px;
  display: inline-block;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #006EFF;
  border: solid 2px #CCCCCC;
  margin:10px;
  font-size: 14px;
  font-weight: 600;
}

.tertiary-button{
  -webkit-appearance: none;
  width: 190px;
  height: 38px;
  display: inline-block;
  border-radius: 10px;
  background-color: #DFEDFB;
  color: #006EFF;
  border: none;
  margin:10px;
  font-size: 14px;
  font-weight: 600;
}



section{
padding: 0px 0px 0px 0px;
text-align: center;
width:100vw
}

div{
  box-sizing: border-box;
  padding: 20px;
}

.dropdown-content{
  display: none;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.onecolumn{
width: 6.5%;
margin: 0px 0.75% 20px 0.75%;
display: inline-block;
background-color: #EEEEEE;
text-align: center;
vertical-align: top;

}

.twocolumn{
width: 14.5%;
margin: 0px 0.75% 20px 0.75%;
display: inline-block;
background-color: #EEEEEE;
text-align: center;
vertical-align: top;
}

.threecolumns{
width: 24%;
margin: 0px 0.75% 20px 0.75%;
display: inline-block;
text-align: center;
vertical-align: top;
}

.fourcolumns{
width: 32.75%;
margin: 0px 0.75% 20px 0.75%;
display: inline-block;
text-align: center;
vertical-align: top;
}

.sevencolumns{
width: 58.25%;
margin: 0px 0.75% 0px 0.75%;
display: inline-block;
text-align: center;
vertical-align: top;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.nopadding{
padding: 0px;
}
/* Overruled de standaard padding*/

.fullWidth{
  width: 75.5%;
  margin: 0px 0.75% 50px 0.75%;
  display: inline-block;
}


.vertical-line{
  margin-top: 50px;
  display: inline-block;
  height: 45vh;
  width: 0px;
  border-left: solid 1px #CCCCCC;
  padding: 0px;
}

li {
  display: inline-block;
  margin-right: 80px;
}

.cloudtag-light{
  color: #006EFF;
  font-weight: bold;
  background-color: #DEEDFF;
  border-radius: 30px;
  padding: 5px 12px 5px 12px;
  margin: 30px 5px 0px 5px;
  display: inline-block;
  float: left;
}

.cloudtag-dark{
  color: #FFFFFF;
  font-weight: bold;
  background-color: #006EFF;
  border-radius: 30px;
  padding: 5px 12px 5px 12px;
  margin: 30px 5px 0px 5px;
  display: inline-block;
}

.circles{
  border-radius: 30px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  background-color: #006EFF;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  float: right;
  margin: 30px 5px 0px 5px;
}

p{
  margin: 10px;
}

h1 {
  color: #474C4F;
  font-weight: 800;
}

h2{
  margin: 10px;
  color: #474C4F;
}

h3.subkop {
  padding-left: 10px;
  color: #474C4F;
}

a.subheader {
  text-decoration: none;
}

a.pagination, a.pagination-nav-1, a.pagination-nav-2{
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 45px;
  font-weight: 700;
}

a.pagination {
  background-color: #FFFFFF;
  border: 1px solid #DAE4EF;
  color: #474C4F;
}

a.pagination-nav-1 {
  background-color: #F2F4F8;
  border: 1px solid #DAE4EF;
  color: #8698AA;
}
/* Inactive button pagination */

a.pagination-nav-2 {
  background-color: #006EFF;
  color: #FFFFFF;

}
/* Active / Current page */

section#pagination-padding {
  padding-top: 60px;
}
