@import url("Fonts.css");
@import url("Header.css");
@import url("Index.css");
@import url("contact.css");


body {
  padding: 0px;
  margin: 0px;
  background-color: #F2F4F8;
  font-family: 'Mosk', sans-serif;
}

#main-page{
  margin: 110px 0px 0px 0px;
}

#page-header{
margin: 0px 1.5% 0px 1.5%;
}

section{
padding: 0px 0px 0px 0px;
text-align: center;
width:100vw
}

.dropdown-content{
  display: none;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.onecolumn{
width: 6.5%;
margin: 0px 0.75% 20px 0.75%;
display: inline-block;
background-color: #EEEEEE;
text-align: center;
vertical-align: top;

}

.twocolumn{
width: 14.5%;
margin: 0px 0.75% 20px 0.75%;
display: inline-block;
background-color: #EEEEEE;
text-align: center;
vertical-align: top;
}

.threecolumns{
width: 24%;
margin: 0px 0.75% 20px 0.75%;
display: inline-block;
text-align: center;
vertical-align: top;
}

.fourcolumns{
width: 32.75%;
margin: 0px 0.75% 20px 0.75%;
display: inline-block;
text-align: center;
vertical-align: top;
}

.fullWidth{
  width: 70.5%;
  margin: 0px 0.75% 50px 0.75%;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: auto;
  text-align: center;
}

ul a.tab-links {
  text-decoration: none;
  color: #8698AA;
}

ul a.tab-links:active {
  text-decoration: none;
  color: #8698AA;
  border-bottom: 3px solid #006EFF;
}

ul a.tab-links:hover {
  text-decoration: none;
  color: #002045;
}

/* styling puur voor de vier hyperlinks op de homepage */

li {
  display: inline-block;
  margin-right: 80px;
}

.cloudtag-light{
  color: #006EFF;
  font-weight: bold;
  background-color: #DEEDFF;
  border-radius: 30px;
  padding: 5px 12px 5px 12px;
  margin: 20px;
  display: inline-block;
}

.cloudtag-dark{
  color: #FFFFFF;
  font-weight: bold;
  background-color: #006EFF;
  border-radius: 30px;
  padding: 5px 12px 5px 12px;
  margin: 20px;
  display: inline-block;
}

.circles{
  border-radius: 30px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  background-color: #006EFF;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  float: right;
  margin: 20px;
}

p{
  margin: 10px;
}

h2{
  margin: 10px;
}
